

.leaderboard {
    width: 80%;
    border: lawngreen solid 2px;
    overflow: auto;
    position: fixed;
    left: 150px;
    top: 110px;
}
.leaderboardScore{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: greenyellow 2px solid;
}
.leaderboardContent{
    width: 20%;
    border-right: greenyellow 2px solid;
    justify-content: flex-start;
}
