

.leaderboard {
    width: 80%;
    border: lawngreen solid 2px;
    overflow: auto;
    position: fixed;
    left: 150px;
}
.leaderboardScore{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    border-bottom: greenyellow 2px solid;
}
.leaderboardContent{
    width: 150px;
    border-right: greenyellow 2px solid;
}
