@import '../../Sass/mixin';

.greenpageTitle{
    color: green;
}
.redpageTitle{
    color: red;
}
.bluepageTitle{
    color: blue;
}
.yellowpageTitle{
    color: yellow;
}

.greenleaderboard {
    width: 80%;
    border: lawngreen solid 2px;
    overflow: auto;
    position: fixed;
    left: 150px;
    top: 110px;
}
.redleaderboard {
    width: 80%;
    border: red solid 2px;
    overflow: auto;
    position: fixed;
    left: 150px;
    top: 110px;
}
.blueleaderboard {
    width: 80%;
    border: blue solid 2px;
    overflow: auto;
    position: fixed;
    left: 150px;
    top: 110px;
}
.yellowleaderboard {
    width: 80%;
    border: yellow solid 2px;
    overflow: auto;
    position: fixed;
    left: 150px;
    top: 110px;
}
.redbutton{
    @include redButtons()
}
.bluebutton{
    @include blueButtons()
}
.yellowbutton{
    @include yellowButtons()
}

.greenleaderboardScore{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: greenyellow 2px solid;
}
.redleaderboardScore{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: red 2px solid;
}
.blueleaderboardScore{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: blue 2px solid;
}
.yellowleaderboardScore{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: yellow 2px solid;
}
.redptag{
    color: red;
}
.blueptag{
    color:blue;
}
.yellowptag{
    color:yellow;
}
.greenleaderboardContent{
    width: 20%;
    border-right: greenyellow 2px solid;
    justify-content: flex-start;
}
.redleaderboardContent{
    width: 20%;
    border-right: red 2px solid;
    justify-content: flex-start;
}
.blueleaderboardContent{
    width: 20%;
    border-right: blue 2px solid;
    justify-content: flex-start;
}
.yellowleaderboardContent{
    width: 20%;
    border-right: yellow 2px solid;
    justify-content: flex-start;
}
.redusername{
    color: red;
}
.blueusername{
    color:blue;
}
.yellowusername{
    color:yellow;
}
.reddeathMessageLeaderboard{
    color: red;
}
.bluedeathMessageLeaderboard{
    color:blue;
}
.yellowdeathMessageLeaderboard{
    color: yellow;
}
