.user{
    border: green solid 2px;
    width: 230px;
    position: fixed;
    top: 10px;
    right: 0;
}
.abandonRun{
    width: 100%;
}
.userClass{
    border: green solid 2px;
    width: 320px;
    position: fixed;
    top:130px;
    left:532px;
}
.monster{
    border: green solid 2px;
    width: 400px;
    position: fixed;
    top: 130px;
    right: 0;
}
.attacks {
    border: lawngreen solid 2px;
    width: 160px;
    height: 150px;
    display: flex;
    flex-direction: column;
}
.userAttacks {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.monsterAttacks {
    display: flex;
    flex-direction: column;
    border: lawngreen solid 2px;
    width: 160px;
    height: 120px;
}
// .monsterAttackBox{
//     display: flex;
//     justify-content: space-evenly;
//     flex-direction: row;
//     width: 100%;
// }
.attackButtons {
    width: 100%;
}
.combatLog {
    border: lawngreen solid 2px;
    width: 400px;
    overflow: auto;
    position: fixed;
    top: 130px;
    left: 0;
}
.floorButton{
    width: 100%;
}
.dead{
    width: 50%;
}