@import '../../Sass/mixin';

.classes{
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.greenclassSelect{
    border: darkgreen solid 2px;
    color: darkgreen;
    background-color: green;
    width: 240px;
}
.redclassSelect{
    border: crimson solid 2px;
    color: crimson;
    background-color: orangered;
    width: 240px;
}
.blueclassSelect{
    border: darkblue solid 2px;
    color: darkblue;
    background-color: lightblue;
    width: 240px;
}
.yellowclassSelect{
    border: darkgoldenrod solid 2px;
    color: darkgoldenrod;
    background-color: lightyellow;
    width: 240px;
}
.selectedClassHolder{
    display: flex;
    justify-content: center;
}
.greenselectedClass{
    border: darkgreen solid 2px;
    color: darkgreen;
    background-color: lightgreen;
    width: 200px;
}
.redselectedClass{
    border: crimson solid 2px;
    color: crimson;
    background-color: orangered;
    width: 200px;
}
.blueselectedClass{
    border: darkblue solid 2px;
    color: darkblue;
    background-color: lightblue;
    width: 200px;
}
.yellowselectedClass{
    border: darkgoldenrod solid 2px;
    color: darkgoldenrod;
    background-color: lightyellow;
    width: 200px;
}
.greenbuttonSelectedClass{
    @include greenButtons();
}
.redbuttonSelectedClass{
    @include redButtons();
}
.bluebuttonSelectedClass{
    @include blueButtons();
}
.yellowbuttonSelectedClass{
    @include yellowButtons();
}
.greenclassInfo{
    color: darkgreen;
}
.redclassInfo{
    color: crimson;
}
.blueclassInfo{
    color: darkblue;
}
.yellowclassInfo{
    color: darkgoldenrod;
}