@import '../../Sass/mixin';

.classes{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.greenclassSelect{
    border: darkgreen solid 2px;
    color: darkgreen;
    background-color: green;
    width: 16.666666666666668vw;
}
.redclassSelect{
    border: crimson solid 2px;
    color: crimson;
    background-color: orangered;
    width: 16.666666666666668vw;
}
.blueclassSelect{
    border: darkblue solid 2px;
    color: darkblue;
    background-color: lightblue;
    width: 16.666666666666668vw;
}
.yellowclassSelect{
    border: darkgoldenrod solid 2px;
    color: darkgoldenrod;
    background-color: lightyellow;
    width: 16.666666666666668vw;
}
.selectedClassHolder{
    display: flex;
    justify-content: center;
}
.greenselectedClass{
    border: darkgreen solid 2px;
    color: darkgreen;
    background-color: lightgreen;
    width: 200px;
}
.redselectedClass{
    border: crimson solid 2px;
    color: crimson;
    background-color: orangered;
    width: 200px;
}
.blueselectedClass{
    border: darkblue solid 2px;
    color: darkblue;
    background-color: lightblue;
    width: 200px;
}
.yellowselectedClass{
    border: darkgoldenrod solid 2px;
    color: darkgoldenrod;
    background-color: orange;
    width: 200px;
}
.greenbuttonclass{
    @include greenButtons();
}
.redbuttonclass{
    @include redButtons();
}
.bluebuttonclass{
    @include blueButtons();
}
.yellowbuttonclass{
    @include yellowButtons();
    font-size: 20px;
}
