.monsterCreator{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.createBoxs{
    border: green solid 2px;
    width: 250px;
}
.typeButtons{
    width: 20%;
}
.listButtons{
    width: 20%;
}
